build/
*.o
*.a
*.so
*.dylib
*.core
core
core.*

.vscode/
.vscode-server/
.vscode-server-insiders/
.vscode-remote-containers/
.idea/
*.swp
*.swo
*~

.bash_history
.bash_logout
.bashrc
.profile
.sudo_as_admin_successful
.gitconfig

.cache/
.local/
.dotnet/
.landscape/

.ssh/
.gnupg/
.aws/
.azure/

.DS_Store
Thumbs.db
.motd_shown

scratchpad/

downloads/
opt/
